// font mixins
@mixin roboto($style: normal, $weight: 400) {
  font-family: "Roboto";
  font-style: $style;
  font-weight: $weight;
}

@mixin roboto-mono($style: normal, $weight: 400) {
  font-family: "Roboto Mono";
  font-style: $style;
  font-weight: $weight;
}

@mixin eczar($style: normal, $weight: 400) {
  font-family: "Eczar";
  font-style: $style;
  font-weight: $weight;
}
