@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $tuna;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 50px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
}

// UTILITY

.heading-1 {
  @include reset-margin-padding;
  @include eczar(normal, 600);
  font-size: 80px;
  line-height: 102%;
}

.paragraph {
  @include reset-margin-padding;
  @include roboto-mono();
  font-size: 22px;
  line-height: 170%;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
